#ignore misc BYOND files
*.log
*.int
*.rsc
*.dmb
*.lk
data/
scripts/voicequeue.txt
config/motd.txt
config/custom_items.txt
config/access levels.txt
config/alienwhitelist.txt
config/custom_sprites.txt
config/dbconfig.txt
config/forumdbconfig.txt
config/jobs.txt
config/moderators.txt
config/svndir.txt
config/donators.txt
config/rules.html